<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Virtual - Listagem</title>
    <!-- Referência ao CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Joti+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="background" th:style="'background-image: url(' + @{/img/Fundo.jpg} + ');'">
        <!-- Menu Lateral -->
        <div class="menu-lateral">
            <h2>Biblioteca Virtual</h2>
            <ul>
                <li><a th:href="@{/}">Início</a></li>
                <li><a th:href="@{/livros/cadastro}">Cadastrar Livro</a></li>
                <li><a th:href="@{/livros/listagem}">Todos os Livros</a></li>
            </ul>
        </div>

        <!-- Área de listagem de livros -->
        <div class="area-listagem">
            <h1>Livros</h1>
                <div class="lista-livros-box">
                    <ul class="lista-livros" th:each="livro : ${livros}">
                        <li>
                            <a th:href="@{/livros/detalhe/{id}(id=${livro.id})}" th:text="${livro.nome}">Nome do Livro</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
